body { background: #a1af51; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 19px; display: flex; }
.block-uploader-0 { color: #8a488e; font-size: 18px; margin-bottom: 5px; }
.block-metrics-1 { color: #4a2980; font-size: 20px; margin-bottom: 5px; }
.block-payment-2 { color: #6e7c50; font-size: 16px; margin-bottom: 5px; }
.block-email-3 { color: #3c7e94; font-size: 13px; margin-bottom: 5px; }
.block-session-4 { color: #a3184b; font-size: 15px; margin-bottom: 5px; }
.block-metrics-5 { color: #9ef0a6; font-size: 18px; margin-bottom: 5px; }
.block-logger-6 { color: #ebe7fb; font-size: 20px; margin-bottom: 5px; }
.block-product-7 { color: #16ea83; font-size: 16px; margin-bottom: 5px; }
.block-router-8 { color: #577540; font-size: 13px; margin-bottom: 5px; }
.block-shipping-9 { color: #57d0d2; font-size: 13px; margin-bottom: 5px; }